html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #616368;
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  height: 57px;
  padding: 0 40px;
  border-radius: 50px;
}
.btn-primary {
  background-color: #2563ff;
}
.btn-transparent {
  background-color: transparent;
  color: #2563ff;
}
.text {
  font-size: 16px;
  line-height: 1.625;
  text-align: justify;
}
@media screen and (max-width: 1023px) {
  .text {
    font-size: 12px;
    line-height: 1.625;
  }
}
.title {
  color: #242f51;
  font-weight: 600;
}
.title-big {
  font-size: 60px;
  line-height: 1.25;
}
.title-main {
  font-size: 36px;
  line-height: 1.2777777778;
}
.title-sub {
  font-size: 20px;
  line-height: 2.9;
}
.title-sub-red {
  color: #f55767;
}
.title-sub-green {
  color: #40975f;
}
.title-sub-blue {
  color: #2563ff;
}
@media screen and (max-width: 1023px) {
  .title-main {
    font-size: 24px;
    line-height: 1.2777777778;
  }
  .title-sub {
    font-size: 16px;
    line-height: 2.9;
  }
}
.header {
  margin: 50px 0;
}
.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 56px;
}
.header-logo {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  color: #fcae61;
  line-height: 1.4666666667;
}
.header-logo-lab {
  color: #242f51;
}
@media screen and (max-width: 1023px) {
  .header-main {
    gap: 0 10px;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .header-button {
    display: none;
  }
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.navigation ul {
  display: flex;
  gap: 0 36px;
}
.navigation ul li {
  list-style: none;
}
.navigation ul li a {
  color: #242f51;
  font-weight: 600;
}
@media screen and (max-width: 1023px) {
  .navigation ul {
    gap: 0 10px;
  }
}
@media screen and (max-width: 767px) {
  .navigation ul {
    display: none;
  }
}

.hero {
  background: url(../images/img3.png) no-repeat center center/cover, url(../images/img2.png) no-repeat center bottom;
  margin-bottom: 120px;
}
.hero-main {
  padding: 0 5%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.hero-image {
  object-fit: cover;
  margin-left: auto;
  max-width: 100%;
}
.hero-content {
  color: #242f51;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-content-ranked {
  width: fit-content;
  height: 36px;
  padding: 0 48px;
  margin-bottom: 13px;
  background-color: #e2eaed;
  font-size: 18px;
  border-radius: 50px;
  position: relative;
}
.hero-content-ranked-icon {
  position: absolute;
  padding: 9px 15px;
  left: 0;
  background-color: #feaa25;
  border-radius: 50px;
  color: white;
}
.hero-content-ranked p {
  max-width: 362px;
  padding: 5px 0;
  line-height: 1.5555555556;
}
.hero-content-heading {
  margin-bottom: 32px;
}
.hero-content-desc {
  width: 75%;
  font-size: 18px;
  line-height: 1.5555555556;
  margin-bottom: 45px;
}
@media screen and (max-width: 1023px) {
  .hero {
    margin-bottom: 50px;
  }
  .hero-content-heading {
    font-size: 32px;
    max-width: 70%;
  }
  .hero-content-desc {
    font-size: 14px;
    line-height: 1;
    width: 90%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    margin-bottom: 60px;
  }
  .hero-image {
    max-width: 50%;
    margin: 0 auto;
  }
  .hero-main {
    padding: 0;
    grid-template-columns: 1fr;
    gap: 30px 0;
  }
  .hero-content-ranked {
    height: 24px;
    padding: 0 32px;
    margin-bottom: 13px;
    background-color: #e2eaed;
    font-size: 12px;
  }
  .hero-content-ranked-icon {
    padding: 6px 9px;
  }
}

.partner {
  margin-bottom: 180px;
}
@media screen and (max-width: 1023px) {
  .partner {
    margin-bottom: 50px;
  }
}
.partner-heading {
  text-align: center;
  color: #242f51;
  margin-bottom: 40px;
}
.partner-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px 0;
}
@media screen and (max-width: 1023px) {
  .partner-items {
    grid-template-columns: 1fr 1fr;
  }
}
.partner-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 1023px) {
  .partner-item:last-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.feature {
  margin-bottom: 130px;
  background: transparent url(../images/img8.png) no-repeat center left;
}
.feature-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.feature-imagemain {
  transform: rotate(-20deg);
  margin: 0 auto;
}
.feature-image {
  width: 100%;
}
.feature-content {
  max-width: 430px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.feature-content-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.feature-content-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1023px) {
  .feature-imagemain {
    transform: rotate(-20deg);
    margin: 0 auto;
    max-width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .feature {
    margin-bottom: 50px;
  }
  .feature-main {
    grid-template-columns: 1fr;
  }
}

.jackpot {
  margin-bottom: 120px;
}
.jackpot-main {
  padding: 0 54px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 125px;
}
.jackpot-heading {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0 70px;
}
.jackpot-heading-title {
  grid-column-start: 1;
  grid-column-end: 4;
}
.jackpot-heading-text {
  padding: 0 48px;
  grid-column-start: 4;
  grid-column-end: 8;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jackpot-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8%;
}
@media screen and (max-width: 1023px) {
  .jackpot {
    margin-bottom: 50px;
  }
  .jackpot-main {
    gap: 50px;
    padding: 0 20px;
  }
  .jackpot-heading {
    gap: 20px;
  }
  .jackpot-heading-text {
    padding: 0 48px;
  }
  .jackpot-items {
    gap: 0 50px;
  }
}
@media screen and (max-width: 767px) {
  .jackpot {
    margin-bottom: 50px;
  }
  .jackpot-main {
    gap: 20px;
    padding: 0;
  }
  .jackpot-heading {
    grid-template-columns: 1fr;
  }
  .jackpot-heading-title, .jackpot-heading-text {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .jackpot-heading-text {
    padding: 0;
    border: 0;
  }
  .jackpot-items {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }
  .jackpot-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.code {
  margin-bottom: 210px;
}
.code-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 110px;
}
.code-content {
  padding-right: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.code-content-heading {
  margin-bottom: 40px;
}
.code-content-desc {
  margin-bottom: 46px;
}
@media screen and (max-width: 1023px) {
  .code {
    margin-bottom: 70px;
  }
  .code-main {
    gap: 0 50px;
  }
  .code-content {
    padding-right: 20px;
  }
  .code-content-heading {
    margin-bottom: 20px;
  }
  .code-content-desc {
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 767px) {
  .code-main {
    grid-template-columns: 1fr;
    gap: 20px 0;
  }
  .code-content {
    padding-right: 0;
    align-items: center;
  }
}

.reason {
  margin-bottom: 200px;
}
.reason-main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 94px 0;
}
.reason-text {
  text-align: center;
}
.reason-heading {
  padding: 0 22%;
}
.reason-title {
  padding: 0 90px;
  margin-bottom: 46px;
}
.reason-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 90px;
}
.reason-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .reason {
    margin-bottom: 100px;
  }
  .reason-main {
    gap: 50px 0;
  }
  .reason-items {
    gap: 50px 50px;
  }
}
@media screen and (max-width: 767px) {
  .reason-heading {
    padding: 20px;
  }
  .reason-main {
    gap: 20px 0;
  }
  .reason-title {
    padding: 0 20px;
    margin-bottom: 26px;
  }
  .reason-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
  }
}

.sfeature {
  margin-bottom: 180px;
}
.sfeature-container {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sfeature-main {
  display: grid;
  grid-template-columns: 1fr;
}
.sfeature-heading {
  margin-bottom: 65px;
}
.sfeature-title {
  width: 70%;
  margin-bottom: 35px;
}
.sfeature-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px 65px;
  margin-bottom: 60px;
}
.sfeature-right-image img {
  padding: 32px 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
@media screen and (max-width: 1023px) {
  .sfeature {
    margin-bottom: 100px;
  }
  .sfeature-container {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
  .sfeature-items {
    padding: 0 60px;
    gap: 32px 32px;
  }
  .sfeature-right-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sfeature-right-image img {
    max-width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .sfeature-container {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .sfeature-heading {
    margin-bottom: 32px;
  }
  .sfeature-title {
    width: 70%;
    margin-bottom: 15px;
  }
  .sfeature-items {
    padding: 0 40px;
    margin-bottom: 60px;
    grid-template-columns: 1fr;
    gap: 32px 0;
  }
}

.pricing {
  margin-bottom: 260px;
}
.pricing * {
  text-align: center;
}
.pricing-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing-heading {
  max-width: 630px;
  margin-bottom: 80px;
}
.pricing-title {
  margin-bottom: 44px;
}
.pricing-buttons {
  padding: 3px;
  margin-bottom: 40px;
  border: 2px solid #ebebeb;
  border-radius: 50px;
}
.pricing-button {
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #616368;
  font-weight: bold;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  height: 48px;
  padding: 0 35px;
  border-radius: 50px;
}
.pricing-button-active {
  background: #2563ff;
  color: white;
}
.pricing-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.pricing-item {
  border: 2px solid #ebebeb;
  border-radius: 10px;
  height: fit-content;
}
.pricing-item:hover {
  border: 0;
  box-shadow: 0px 20px 50px 20px rgba(235, 235, 235, 0.5);
}
.pricing-option {
  padding: 0 70px 40px;
  background: linear-gradient(white 20%, rgba(235, 235, 235, 0.5));
}
.pricing-option-price {
  padding-top: 70px;
}
.pricing-option-duration {
  color: #242f51;
}
.pricing-option-detail {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 40px 0;
}
.pricing-subscribe-button {
  margin-bottom: 30px;
}
.pricing-subscribe-link {
  margin-bottom: 30px;
  color: #2563ff;
}
@media screen and (max-width: 1023px) {
  .pricing {
    margin-bottom: 100px;
  }
  .pricing-heading {
    max-width: 430px;
  }
}
@media screen and (max-width: 767px) {
  .pricing-detail {
    grid-template-columns: 1fr;
  }
}

.client {
  margin-bottom: 180px;
  position: relative;
}
.client-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.client-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-image img {
  position: absolute;
  left: 0;
  z-index: -1;
}
.client-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.client-title {
  margin-bottom: 40px;
}
.client-desc {
  margin-bottom: 45px;
}
.client-rate {
  margin-bottom: 12px;
}
.client-comment-title {
  margin-bottom: 36px;
}
.client-comment-desc {
  margin-bottom: 65px;
}
.client-comment-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.client-comment-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.client-comment-buttons span {
  height: 25px;
  border-left: 2px solid #ebebeb;
}
.client-comment-button {
  width: 48px;
  height: 48px;
  border: 2px solid #ebebeb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.client-comment-button-active {
  background: #ebebeb;
}
.client-author {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-author-detail {
  padding: 0 30px;
}
.client-author-name {
  font-size: 18px;
  color: #242f51;
  margin-bottom: 18px;
}
@media screen and (max-width: 1023px) {
  .client {
    margin-bottom: 90px;
  }
  .client-main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .client-image {
    padding-bottom: 50px;
  }
  .client-image img {
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .client-comment-author {
    flex-direction: column;
    gap: 20px 0;
  }
}

.question {
  margin-bottom: 110px;
}
.question-main {
  padding: 0 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question-heading {
  margin-bottom: 66px;
}
.question-title, .question-desc {
  text-align: center;
}
.question-title {
  margin-bottom: 44px;
}
.question-desc {
  padding: 0 158px;
}
.question-ask {
  padding: 26px 45px;
}
.question-ask-title {
  margin-bottom: 24px;
}
.question-ask-desc {
  margin-bottom: 24px;
}
.question-items {
  width: 100%;
}
.question-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
}
.question-item-common {
  background: #f5f7fa;
  border-radius: 10px;
  margin-bottom: 12px;
}
.question-item-add {
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .question {
    margin-bottom: 60px;
  }
  .question-main {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .question-desc {
    padding: 0;
  }
  .question-ask {
    padding: 12px 20px;
  }
  .question-item {
    padding: 0 24px;
  }
  .question-item-ask {
    font-size: 14px;
  }
}

/*# sourceMappingURL=app.css.map */
