html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #616368;
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  height: 57px;
  padding: 0 40px;
  border-radius: 50px;
}
.btn-primary {
  background-color: #2563ff;
}
.btn-transparent {
  background-color: transparent;
  color: #2563ff;
}
.text {
  font-size: 16px;
  line-height: 1.625;
  text-align: justify;
}
@media screen and (max-width: 1023px) {
  .text {
    font-size: 12px;
    line-height: 1.625;
  }
}
.title {
  color: #242f51;
  font-weight: 600;
}
.title-main {
  font-size: 36px;
  line-height: 1.2777777778;
}
.title-sub {
  font-size: 20px;
  line-height: 2.9;
}
.title-sub-red {
  color: #f55767;
}
.title-sub-green {
  color: #40975f;
}
.title-sub-blue {
  color: #2563ff;
}
@media screen and (max-width: 1023px) {
  .title-main {
    font-size: 24px;
    line-height: 1.2777777778;
  }
  .title-sub {
    font-size: 16px;
    line-height: 2.9;
  }
}
.header {
  margin: 50px 0;
}
.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 56px;
}
.header-logo {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  color: #fcae61;
  line-height: 1.4666666667;
}
.header-logo-lab {
  color: #242f51;
}
@media screen and (max-width: 1023px) {
  .header-main {
    gap: 0 10px;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .header-button {
    display: none;
  }
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.navigation ul {
  display: flex;
  gap: 0 36px;
}
.navigation ul li {
  list-style: none;
}
.navigation ul li a {
  color: #242f51;
  font-weight: 600;
}
@media screen and (max-width: 1023px) {
  .navigation ul {
    gap: 0 10px;
  }
}
@media screen and (max-width: 767px) {
  .navigation ul {
    display: none;
  }
}

.hero {
  background: url(../images/img3.png) no-repeat center center/cover, url(../images/img2.png) no-repeat center bottom;
  margin-bottom: 120px;
}
.hero-main {
  padding: 0 5%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.hero-image {
  object-fit: cover;
  margin-left: auto;
  max-width: 100%;
}
.hero-content {
  color: #242f51;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-content-ranked {
  width: fit-content;
  height: 36px;
  padding: 0 48px;
  margin-bottom: 13px;
  background-color: #e2eaed;
  font-size: 18px;
  border-radius: 50px;
  position: relative;
}
.hero-content-ranked-icon {
  position: absolute;
  padding: 9px 15px;
  left: 0;
  background-color: #feaa25;
  border-radius: 50px;
  color: white;
}
.hero-content-ranked p {
  max-width: 362px;
  padding: 5px 0;
  line-height: 1.5555555556;
}
.hero-content-heading {
  font-size: 60px;
  line-height: 1.25;
  margin-bottom: 32px;
}
.hero-content-desc {
  width: 75%;
  font-size: 18px;
  line-height: 1.5555555556;
  margin-bottom: 45px;
}
@media screen and (max-width: 1023px) {
  .hero {
    margin-bottom: 50px;
  }
  .hero-content-heading {
    font-size: 32px;
    max-width: 70%;
  }
  .hero-content-desc {
    font-size: 14px;
    line-height: 1;
    width: 90%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    margin-bottom: 60px;
  }
  .hero-image {
    max-width: 50%;
    margin: 0 auto;
  }
  .hero-main {
    padding: 0;
    grid-template-columns: 1fr;
    gap: 30px 0;
  }
  .hero-content-ranked {
    height: 24px;
    padding: 0 32px;
    margin-bottom: 13px;
    background-color: #e2eaed;
    font-size: 12px;
  }
  .hero-content-ranked-icon {
    padding: 6px 9px;
  }
}

.partner {
  margin-bottom: 180px;
}
@media screen and (max-width: 1023px) {
  .partner {
    margin-bottom: 50px;
  }
}
.partner-heading {
  text-align: center;
  color: #242f51;
  margin-bottom: 40px;
}
.partner-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px 0;
}
@media screen and (max-width: 1023px) {
  .partner-items {
    grid-template-columns: 1fr 1fr;
  }
}
.partner-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 1023px) {
  .partner-item:last-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.feature {
  margin-bottom: 130px;
  background: transparent url(../images/img8.png) no-repeat center left;
}
.feature-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.feature-imagemain {
  transform: rotate(-20deg);
  margin: 0 auto;
}
.feature-image {
  width: 100%;
}
.feature-content {
  max-width: 430px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.feature-content-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.feature-content-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1023px) {
  .feature-imagemain {
    transform: rotate(-20deg);
    margin: 0 auto;
    max-width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .feature {
    margin-bottom: 50px;
  }
  .feature-main {
    grid-template-columns: 1fr;
  }
}

.jackpot {
  margin-bottom: 120px;
}
.jackpot-main {
  padding: 0 54px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 125px;
}
.jackpot-heading {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0 70px;
}
.jackpot-heading-title {
  grid-column-start: 1;
  grid-column-end: 4;
}
.jackpot-heading-text {
  padding: 0 48px;
  grid-column-start: 4;
  grid-column-end: 8;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jackpot-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8%;
}
@media screen and (max-width: 1023px) {
  .jackpot {
    margin-bottom: 50px;
  }
  .jackpot-main {
    gap: 50px;
    padding: 0 20px;
  }
  .jackpot-heading {
    gap: 20px;
  }
  .jackpot-heading-text {
    padding: 0 48px;
  }
  .jackpot-items {
    gap: 0 50px;
  }
}
@media screen and (max-width: 767px) {
  .jackpot {
    margin-bottom: 50px;
  }
  .jackpot-main {
    gap: 20px;
    padding: 0;
  }
  .jackpot-heading {
    grid-template-columns: 1fr;
  }
  .jackpot-heading-title, .jackpot-heading-text {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .jackpot-heading-text {
    padding: 0;
    border: 0;
  }
  .jackpot-items {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }
  .jackpot-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=app.css.map */
