body {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: $gray;
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: $primary-font;
  height: 57px;
  padding: 0 40px;
  border-radius: 50px;
  &-primary {
    background-color: $blue-light;
  }
  &-transparent {
    background-color: transparent;
    color: $blue-light;
  }
  @include maxw(1023px) {
  }
  @include maxw(767px) {
  }
}

.text {
  font-size: 16px;
  line-height: lineH(26px, 16px);
  text-align: justify;

  @include maxw(1023px) {
    font-size: 12px;
    line-height: lineH(26px, 16px);
  }

  @include maxw(767px) {
  }
}

.title {
  color: $blue-dark;
  font-weight: 600;
  &-main {
    font-size: 36px;
    line-height: lineH(46px, 36px);
  }
  &-sub {
    font-size: 20px;
    line-height: lineH(58px, 20px);

    &-red {
      color: $red;
    }

    &-green {
      color: $green;
    }

    &-blue {
      color: $blue-light;
    }
  }

  @include maxw(1023px) {
    &-main {
      font-size: 24px;
      line-height: lineH(46px, 36px);
    }
    &-sub {
      font-size: 16px;
      line-height: lineH(58px, 20px);
    }
  }

  @include maxw(767px) {
  }
}
