.header {
  margin: 50px 0;
  &-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 56px;
  }

  &-logo {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: $orange;
    line-height: lineH(44px, 30px);

    &-lab {
      color: $blue-dark;
    }
  }

  @include maxw(1023px) {
    &-main {
      gap: 0 10px;
    }
  }

  @include maxw(767px) {
    &-button {
      @include maxw(767px) {
        display: none;
      }
    }
  }
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  ul {
    display: flex;
    gap: 0 36px;

    li {
      list-style: none;
      a {
        color: $blue-dark;
        font-weight: 600;
      }
    }
  }

  @include maxw(1023px) {
    ul {
      gap: 0 10px;
    }
  }

  @include maxw(767px) {
    ul {
      display: none;
    }
  }
}
