.hero {
  background: url(../images/img3.png) no-repeat center center / cover,
    url(../images/img2.png) no-repeat center bottom;
  margin-bottom: 120px;
  position: relative;
  &-main {
    padding: 70px;
  }
  &-image {
    object-fit: cover;
    margin-left: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  &-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $blue-dark;
    &-ranked {
      height: 36px;
      padding: 0 48px;
      margin-bottom: 13px;
      background-color: #e2eaed;
      font-size: 18px;
      display: inline-block;
      border-radius: 50px;
      position: relative;
      &-icon {
        position: absolute;
        padding: 9px 15px;
        left: 0;
        background-color: #feaa25;
        border-radius: 50px;
        color: white;
      }
      p {
        padding: 5px 0;
        line-height: lineH(28px, 18px);
      }
    }
    &-heading {
        font-size: 60px;
        line-height: lineH(75px,60px);
        width: 55%;
        margin-bottom: 32px;
    }
    &-desc {
        width: 50%;
        font-size: 18px;
        line-height: lineH(28px,18px);
        margin-bottom: 45px;
    }
  }
}
