$primary-font: 'Poppins', sans-serif;
$blue-dark: #242f51;
$blue: #2500f9;
$blue-light: #2563ff;
$blue-lighter: #f5f7fa;
$gray: #616368;
$gray-light: #898a8e;
$gray-lighter: #ebebeb;
$red: #f55767;
$green: #40975f;
$orange: #fcae61;